*{
    margin: 0;
    padding: 0;
    font-family:'Î¢ÈíÑÅºÚ';
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.bg{
    background: url(../image/1.jpg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.f1{
    height: 50px;
    width: 350px;
    text-align: center;
    font-size: 0;
    margin-bottom: 5px;
}
.right {
    display: none;
}
.ipt1,.ipt2,.ipt3{
    height: 35px;
    width: 300px;
    border: none;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
}
.btn-top1,.btn-top2{
    height: 50px;
    width: 150px;
    margin: 5px;
    background: none;
    font-size: 24px;
    text-decoration: none;
    color: rgba(0,0,0,0.5);
    display: inline-block;
}
.btn-top1:hover,.btn-top2:hover{
    border-bottom: 3px solid rgba(255,255,255,0.8);
}
.btn-top1{
    margin-right: 10px;
}

#box_1{
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
}
#box-r{
    width: 350px;
    border-radius: 10px;

}

#box{
    width: 350px;
    border: 1px solid black;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
}

#btn,#btn-r{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 5px;
    height: 20px;
    width: 340px;
    border: 1px solid rgba(0,0,0,0.6);
    border-radius:5px;
    background-color: rgba(0,0,0,0.3);
    color: rgba(255,255,255,0.8);
}
.box1,.box2,.box3,#btn{
    float: left;
    margin: 5px;
}



#ipt1-r,#ipt2-r{
    height: 20px;
    width: 200px;
    background-color:rgba(0,0,0,0.1);
    border: none;
    border-radius:2px;
}
